.close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  padding: 1rem;
  background: transparent;
  color: black;
  cursor: pointer;
}

.closeButton:hover {
  background: lightblue;
}

.closeButton:active {
  background: grey;
}
